@import "../../scss/Color.scss";
@import "../../scss/Animation.scss";

.login-container {
	width: 100vw;
	height: 100vh;
	background-color: $primary-bg-color;
	border-radius: unset;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  position: relative;
  

  p {
    width: 360px;
    text-align: right;
    text-decoration: underline;
    transition: 300ms;

    &:hover {
      cursor: pointer;
      color: white;
    }

  }

  .sub-background {
    width: 125vw;
    height: 50vh;
    background-image: url('../../assets/desktop/mesh-bg.png');
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: rotate(-4deg);
  }
}
