@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";
@import "../../../scss/Animation";

.create-document-form {
  width: 500px;
  margin: 0 auto;
  animation: zoom-out 300ms;

  @extend %input-layout;

  .block {
    padding-top: 10px;
  }
}
