@import "../../scss/Color";
@import "../../scss/Border";
@import "../../scss/BoxShadow";
@import "../../scss/Templates";


.transaction-container {
  @extend %page;

  .transaction-and-filter {
    height: 100%;
  }

  .content-area {
    height: calc(100vh - 210px);
    margin: 50px 0px;
    padding: 0 40px;
    position: relative;
  }
}
