@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";

.drawer-item-container {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 15px;
	font-weight: bold;
	transition: 300ms;

	.icon-area {
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			transition: 300ms;

			* {
				color: $second-text-color;
			}
		}
	}

	&:hover {
		background-color: $second-background-pages;
		color: $primary-bg-color;
		cursor: pointer;

		.icon {
			* {
				color: $primary-bg-color;
			}
		}
	}

	&.active {
		background-color: $second-background-pages;
		color: $primary-bg-color;

		.icon-area {
			.icon {
				* {
					color: $primary-bg-color;
				}
			}
		}
	}


}

