@import "../../../scss/Color";


.sub-tab {
	width: 100%;
	border-radius: unset;
	border-bottom: solid 1px $primary-bg-color;
	display: flex;

	&__item {
		width: 120px;
		font-weight: bold;
		padding: 5px 10px;
		color: $primary-bg-color;
		margin-right: 5px;

		&.active {
			color: white;
			background-color: $primary-bg-color;
			border-radius: 4px 4px 0px 0px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&.w {
		&-half {
			width: calc(50% - 5px);
			margin-right: 10px;
		}
	}
}