@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";

.transaction-item-container {
  height: 125px;
  display: flex;
  border: solid 1px $second-text-color;
  transition: 300ms;
  margin-bottom: 20px;

  b {
    color: $primary-text-color;
  }

  p {
    padding: 0;
    margin: 0 0 3px 0;
  }

  .field {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-1 {
    width: 260px;
    padding: 10px 5px 10px 10px;
    color: $primary-text-color;
    border-right: dashed 1px $second-text-color;
    box-sizing: border-box;
    overflow: auto;
     .hidden {
       b {
         visibility: hidden;
       }
     }
  }

  .info-2 {
    width: 220px;
    padding: 10px;
    color: $primary-text-color;
    border-right: dashed 1px $second-text-color;
    box-sizing: border-box;
    overflow: auto;
  }

  .info-3 {
    width: 327px;
    padding: 10px;
    color: $primary-text-color;
  }

  &:hover {
    cursor: pointer;
    border-color: $primary-bg-color;
    box-shadow: $default-box-shadow;
  }
}
