@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";

.paging-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    * {
      color: $primary-text-color;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .page-item {
    width: 25px;
    height: 25px;
    border-radius: $border-radius-circle;
    border: solid 1px $primary-text-color;
  }
}
