@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";

.table-header-container {

	th {
		font-weight: bold;
		text-transform: uppercase;
		color: $primary-text-color;
		padding: 3px 0;
		box-sizing: border-box;
		margin: 0;
		text-align: left;
	}
}