@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";

.table-body-container {

	width: 100%;
	tr {
		border-bottom: dashed 1px $primary-text-color;
		margin-top: 10px;
	}

	td {
		color: $primary-text-color;
		padding: 5px 0;
		margin: 0;
	}
}