@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.loader-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;

	.loader {
		width: 60px;
		height: 50px;
		padding: 0 10px;
		background-color: white;
		box-shadow: 0 10px 40px -10px #96aab490;
		z-index: 5;
		margin-top: 30vh;
		margin-left: calc(50vw + 125px - 40px);
		display: flex;
		justify-content: space-around;
		align-items: center;



		div {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $primary-bg-color;
		}

		.dot1 {
			animation: loader 2000ms infinite;
		}
		.dot2 {
			animation: loader 2000ms infinite 200ms;
		}
		.dot3 {
			animation: loader 2000ms infinite 400ms;
		}
	}

	&.logging {
		.loader {
			margin-inline: auto;
		}
	}

	.blur {
		width: 100vw;
		height: 100vh;
		position: absolute;
		background-color: #00000085;
		border-radius: 0;
		z-index: 4;
	}
}

