@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.button-container {
  background-color: $primary-bg-color;
  border-radius: $border-radius-md;
  transition: 300ms;
  color: white;
  border: none;
  padding: 10px;

  &.outlined {
    @extend %outlined;
  }

  &.sm {
    width: fit-content;
    padding: 5px 10px;
  }
  &.md {
    width: calc(50% - 10px);
  }

  &.lg {
    width: 100%;
    height: 100%;
  }

  &.icon {
    padding: 8px 8px 6px 8px;

    &.md {
      width: 100%;
      height: 100%;
      padding: 2px 2px 0px 2px;
    }

    &.circle {
      padding: 0;
      border-radius: 50%;
    }

    &.square {
      padding: 3px;
      border-radius: $border-radius-sm;
    }

    &.non-bg {
      background: transparent;
    }
  }

  * {
    color: white;
  }

  &.secondary {
    background: unset;
    box-shadow: unset;

    * {
      color: $second-text-color;
    }

    &:hover {
      * {
        color: $primary-text-color;
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: $primary-box-shadow;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: $primary-box-shadow;
  }

  &.warning {
    color: $danger-text-color;
    background-color: white;
    border: solid 1px $danger-text-color;
    margin-left: 5px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }

    &:focus, &:hover, &:active {
      border: solid 1px $danger-text-color;
    }
  }

  &.disable {
    pointer-events: none;
    background-color: $second-text-color;
    color: white;
  }
}

