@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.button-container {
  background-color: $primary-bg-color;
  border-radius: $border-radius-md;
  box-shadow: $primary-box-shadow;
  color: white;
  border: none;
  padding: 10px;

  &.outlined {
    @extend %outlined;
  }

  &.icon {
    padding: 8px 8px 6px 8px;

    &.circle {
      padding: 0;
      border-radius: 50%;
    }
  }

  &.md {
    width: calc(50% - 10px);
  }

  &.lg {
    width: 100%;
    height: 100%;
  }

  * {
    color: white;
  }

  &.secondary {
    background: unset;
    box-shadow: unset;

    * {
      color: $primary-text-color;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(4px);
  }
}

