@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.button-container {
	background-color: $primary-bg-color;
	border-radius: $border-radius-md;
	box-shadow: $primary-box-shadow;
	color: white;
	border: none;
	padding: 10px;
	&:hover {
		cursor: pointer;
	}

	&.outlined {
		@extend %outlined;
	}

	&.md {
		width: 50%;
	}

	&.lg {
		width: 100%;
	}

	&.icon {
		margin: 0;
		padding: 8px 8px 6px 8px;
	}

	* {
		color: white;
	}
}

