@import "../../../scss/Color.scss";
@import "../../../scss/Animation.scss";
@import "../../../scss/BoxShadow.scss";

.forgot-password {
	width: 340px;
  box-shadow: $default-box-shadow;
  background-color: white;
  z-index: 2;
  padding: 30px 30px 30px 30px;
  animation: zoom-out 300ms; 

	p {
		text-align: left;
		color: $primary-text-color;
		width: 100%;
		pointer-events: none;
	}

	span {
		color: $primary-text-color;
	}
}