@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.transaction-form-container {
  @extend %input-layout;

  margin: 0 auto;
  animation: zoom-out 300ms;
  width: 500px;

  .blocks {
    overflow: auto;
    height: calc(100vh - 210px);
    padding-left: 20px;
    margin-left: -20px;
  }
}
