@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";

.transaction-filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 5px;

  .input-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5px;
    margin-bottom: 10px;
  }

  .button-area {
    height: 30px;
    width: 30px;
    border: solid 1px $primary-bg-color;
    background: $primary-bg-color;
    padding: 20px 0px;
  }
}
