@import "../../../../scss/Color";
@import "../../../../scss/Border";
@import "../../../../scss/BoxShadow";
@import "../../../../scss/Templates";
@import "../../../../scss/Animation";

.comment-action-form-container {
  width: 60%;
  padding: 10px 5px 10px 10px;
  float: right;

  .edit-comment-area {
    textarea {
      width: 100%;
      box-sizing: border-box;
      margin: -1px 0 0 -1px;
      padding-left: 5px;
      border: solid 1px $primary-bg-color;
      border-radius: 4px;
      color: $primary-text-color;
    }
  }

  .button-area {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}
