@import "../../scss/Color";
@import "../../scss/Border";
@import "../../scss/BoxShadow";

.drawer-container {
	width: 250px;
	padding: 0 20px;
	animation: slide-right 300ms ease-out;
	box-shadow: $default-box-shadow;
	overflow: hidden;
	box-sizing: border-box;

	@keyframes slide-right {
		from {
			width: 0;
		}
		to {
			width: 250px;
		}
	}

	.logo {
		border-bottom: solid 1px $background-pages;

		img	{
			width: auto;
			height: 100px;
		}
	}

	.drawer-item-area {
		margin-top: 30px;
	}
}