@import "../../scss/Color";
@import "../../scss/Border";
@import "../../scss/BoxShadow";
@import "../../scss/Templates";


.administrator-container {
	@extend %page;

	.content-area {
		height: calc(100vh - 210px);
		overflow: hidden;
		margin: 50px 0px;
		padding: 0 20px;
		position: relative;

		.table-area {
			width: 100%;
			height: calc(100% - 50px);
			box-sizing: border-box;
			overflow: auto;
		}
	}
}
