@import "../src/scss/Color";
@import "../src/scss/Border";

* {
  scroll-behavior: smooth;
  color: $second-text-color;
  font-family: "Roboto", sans-serif;
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-placeholder;
    opacity: 1; /* Firefox */
  }

  // placeholder
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $text-placeholder;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $text-placeholder;
  }


  // scrollbar
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $background-pages;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary-bg-color;
  }

}
div {
  border-radius: $border-radius-md;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .top-cover {
    width: calc(100vw - 250px);
    height: 150px;
    z-index: -1;
    opacity: .2;
    position: fixed;
    top: 0;
    left: 250px;
    background-image: url("./assets/desktop/mesh-bg.png");
  }
}

input {
  outline: none;
}
