@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.files-form-container {
  @extend %input-layout;

  margin-top: 30px;

  .files-area {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .file-item {
      margin-bottom: 10px;
      width: 160px;
      box-sizing: border-box;
      padding-left: 10px;
      background-color: $background-pages;
      font-weight: bold;
      border-radius: $border-radius-md;
      transition: 300ms;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        transition: 300ms;
      }

      &:hover, &:active {
        box-shadow: $default-box-shadow;

        a {
          cursor: pointer;
          color: $primary-text-color;
        }
      }

      .button-area {
        margin: 0;
        padding: 0;
      }
    }
  }
}
