@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.documents-form-container {
  @extend %input-layout;

  margin-top: 30px;

  .add-document-area {
    width: 100%;
  }

  .documents-area {
    @extend %uploaded-area-v2;
    max-height: 200px;
    overflow-x: auto;

    &__document {
      @extend %document;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
