@import "../../../scss/Color";
@import "../../../scss/Border";
@import "../../../scss/BoxShadow";
@import "../../../scss/Templates";

.documents-form-container {
  @extend %input-layout;

  margin-top: 30px;

  .add-document-area {
    width: 100%;
  }

  .documents-area {
   @extend %uploaded-area
  }
}
